.author {

    display: inline;

    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 26.7647px;
    line-height: 67px;
    text-align: center;
    vertical-align: top;
    /* or 250% */

    color: #292929;

}
.availableForNewProjects {

    display: inline;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23.1812px;
    line-height: 58px;
    text-align: center;
    vertical-align: middle;

    /* or 250% */

    color: #292929;

}
.sideBarButton {

    /*width: 50px;*/
    /*height: 29px; */
    display: inline;

    cursor: pointer;
    transition: all 500ms linear;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.gitImg {
    height: 30px;
    width: 30px;
}
.vkImg {
    height: 30px;
    width: 30px;
}
.tgImg {
    height: 30px;
    width: 30px;
}
#main {
    transition: margin-right .5s;
    padding: 16px;
}
.firstGroup {

    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: #FA7268fd !important;*/
}
.profession {
    /*position: absolute;*/
    /*display: inline;*/
    float: left;
    /*width: 100%;*/
    /*height: 10%;*/
    left: 3%;
    /*top: 35%;*/
    margin-bottom: -10%;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /*line-height: 58px;*/
    text-align: left;
    vertical-align: bottom;
    /* or 362% */

    color: #ADABAB;

}
.test {
    display: inline-block;
}
.opusk {
    margin-top: 500px;
}
.headerArticle {
    /*position: absolute;*/
    float: left;
    width: 50%;
    /*height: 65px;*/
    /*left: 55px;*/
    margin-top: -2%;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4vmin;
    /*line-height: 28px;*/
    text-align: left;
    vertical-align: top;
    background-color: #E6FEFE !important;
    border-radius: 18px;
    white-space: pre-wrap;
    /* or 140% */

    color: #292929;
    border: 2px solid #9779ec;
}
.avatar {
    float: right;
    /*position: absolute;*/
    display: inline;
    /*float: right;*/
    width: 30%;
    /*height: 30%;*/
    right: 3%;
    /*top: 328px;*/

    border-radius: 18px;

}
.quote {
    /*position: absolute;*/
    float: right;
    display: inline;
    /*width: 50%;*/
    /*height: 95px;*/
    /*left: 947px;*/
    /*top: 500%;*/
    margin-top: 10vmax;
    margin-right: -25%;
    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2vmin;
    line-height: 20px;
    text-align: right;
    vertical-align: top;
    /* or 100% */

    color: #292929;

}
.writeMeButton {
    position: absolute;
    width: 302px;
    height: 95px;
    left: 947px;
    top: 820px;

    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */
    text-align: center;
    vertical-align: central;
    background-color: #E6FEFE !important;
    white-space: pre-wrap;
    border-radius: 18px;
    color: #292929;

    border: 2px solid #9779ec;
}
.aboutMe {
    position: absolute;
    width: 456px;
    height: 65px;
    left: 37px;
    top: 588px;

    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    vertical-align: middle;
    /* or 150% */

    color: #292929;

}
.aboutMeArticle {
    position: absolute;
    width: 793px;
    height: 211px;
    left: 55px;
    top: 685px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */
    text-align: center;
    vertical-align: top;
    background-color: #E6FEFE !important;
    white-space: pre-wrap;
    border-radius: 18px;
    color: #292929;

    border: 2px solid #9779ec;
}
.achievements {
    position: absolute;
    width: 397px;
    height: 74px;
    left: 37px;
    top: 916px;

    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    text-align: right;
    vertical-align: middle;
    /* or 150% */

    color: #292929;
}
.achievementsArticle {
    position: absolute;
    width: 796px;
    height: 60px;
    left: 55px;
    top: 1016px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    vertical-align: top;
    background-color: #E6FEFE !important;
    white-space: pre-wrap;
    border-radius: 18px;
    /* or 125% */

    color: #292929;

    border: 2px solid #9779ec;

}
.temp1 {
    position: absolute;
    width: 500px;
    height: 20px;
    left: 65px;
    top: 1103px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    vertical-align: top;
    /* or 125% */

    color: #292929;
}
.temp2 {
    position: absolute;
    width: 500px;
    height: 20px;
    left: 65px;
    top: 1156px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    vertical-align: top;
    /* or 125% */

    color: #292929;
}
.temp3 {
    position: absolute;
    width: 500px;
    height: 20px;
    left: 65px;
    top: 1209px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    vertical-align: top;
    /* or 125% */

    color: #292929;
}
.firstQuality {
    position: absolute;
    width: 432px;
    height: 37px;
    left: 55px;
    top: 1262px;

    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    /* or 67% */

    color: #292929;

}
.secondQuality {
    position: absolute;
    width: 768px;
    height: 31px;
    left: 55px;
    top: 1456px;

    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    /* or 67% */

    color: #292929;
}
.thirdQuality {
    position: absolute;
    width: 768px;
    height: 31px;
    left: 57px;
    top: 1644px;

    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    /* or 67% */

    color: #292929;

}
.firstDescription {
    position: absolute;
    width: 1265px;
    height: 121px;
    left: 57px;
    top: 1317px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    white-space: pre-wrap;
    /* or 125% */

    color: #292929;
}
.secondDescription {
    position: absolute;
    width: 1265px;
    height: 121px;
    left: 57px;
    top: 1505px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: #E6FEFE !important;
    border-radius: 18px;
    white-space: pre-wrap;
    /* or 125% */

    color: #292929;
    border: 2px solid #9779ec;
}
.thirdDescription {
    position: absolute;
    width: 1265px;
    height: 121px;
    left: 57px;
    top: 1693px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    white-space: pre-wrap;
    /* or 125% */

    color: #292929;

}
.latest {
    position: absolute;
    width: 459px;
    height: 74px;
    left: 37px;
    top: 1847px;

    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    vertical-align: middle;
    /* or 150% */

    color: #292929;

}
.latestArticle {
    position: absolute;
    width: 796px;
    height: 60px;
    left: 52px;
    top: 1947px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: #E6FEFE !important;
    border-radius: 18px;
    white-space: pre-wrap;
    /* or 125% */

    color: #292929;

    border: 2px solid #9779ec;
}
.firstProject {
    position: absolute;
    width: 413px;
    height: 398px;
    left: 37px;
    top: 2049px;
    text-align: center;
    vertical-align: baseline;
}
.secondProject {
    position: absolute;
    width: 413px;
    height: 398px;
    left: 496px;
    top: 2049px;
    text-align: center;
    vertical-align: baseline;
}
.thirdProject {
    position: absolute;
    width: 413px;
    height: 398px;
    left: 967px;
    top: 2049px;
    text-align: center;
    vertical-align: baseline;
}
.contacts {
    position: absolute;
    width: 459px;
    height: 74px;
    left: 40px;
    top: 2514px;

    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    vertical-align: baseline;
    /* or 150% */

    color: #292929;
}
.contactsList {
    position: absolute;
    width: 796px;
    height: 105px;
    left: 52px;
    top: 2606px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    vertical-align: baseline;
    /* or 125% */

    color: #292929;
}
.copyright {
    position: absolute;
    width: 408px;
    height: 97px;
    left: 52px;
    top: 3313px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    /* or 100% */

    color: #292929;

}

h1 {
    /*position: absolute;*/
    display: block;
    float: left;
    width: 70%;
    /*height: 10%;*/
    left: 3%;
    /*top: 30%;*/

    font-family: 'Galindo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 9vmin;
    line-height: 75px;
    /* or 107% */
    text-align: left;
    vertical-align: middle;
    color: #292929;

}
span {
    color: #FA7268;
}
address {
    position: absolute;
    width: 408px;
    height: 97px;
    left: 52px;
    top: 3313px;

    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */

    color: #292929;
}
html {
    scroll-behavior: smooth;
    width: 100%;
}
body {
    background-color: #f3faff !important;
}
header {
    position: fixed;
    /*height: 10px;*/
    width: 100%;
    /*padding: 1%;*/
    float: left;
    /*margin-bottom: 100px;*/
    /*background-color: #FA7268fd !important;*/
}

main {
    margin-top: 20%;
    width: 100%;
    /*margin-bottom: 30px;*/
    /*top: 20px;*/
}

